@tailwind base;
@tailwind components;
@tailwind utilities;


.fer
{
    margin-top:-3px;
    z-index: 6;
    position:fixed !important;
    width: 100%;

}

.hero{
  background: linear-gradient(
    to right,
    #AE9819E5 0%,
    #AE9819E5 25%,
    #000000 25%,
    #000000 100%


  );
}


.hero1{
  background: linear-gradient(
    to right,
    #AE9819E5 0%,
    #AE9819E5 15%,
    #FFFFFF 15%,
    #FFFFFF 100%


  );
}
.haha{
  background-image: "/Skye.png";
}


